.form-search
  = label_tag t(:search_paciente)
  = text_field_tag 'search_client_id', '',:type=>"hidden",:placeholder => ""
  .input-prepend
    %span.add-on
      %i.icon-search.icon
    = autocomplete_field_tag 'paciente_fullname', '',:id_element => '#search_client_id',:size => 50, :class => 'input-big search-query span2'
  %button.btn{:onClick => "edit_paciente()"} Buscar 

:javascript
  function edit_paciente(){
    var paciente_id = $("#search_client_id").val();
    var url = '/pacientes/'+paciente_id+'/edit';
    javscript:window.location.href = url;
  }
  
