.cabecera
  = label_tag 'Nombre, apellildos o dni'
  = text_field_tag :search_client_id, '',:type=>"hidden"
  = label_tag "Especialista"
  = label_tag "Centro"
  %button{:onClick => '$("#calendar").fullCalendar("refetchEvents")'}
    Buscar 



    
