#tabs
  %ul
    %li=link_to "BUSCAR CITA","#tabs1"
    %li=link_to "CREAR NUEVA CITA","#tabs2"
  
  #tabs1
    = render :partial => 'search_event'
  #tabs2
    = render :partial =>'events/form'
#calendar
