%h1 Bienvenido a FisioApp!
.general
  =link_to pacientes, new_paciente_path
  =link_to citas, :controller => "events", :action => "index"
  =link_to facturacion, new_invoicehead_path
  =link_to informes, "http://fisior.es"


