/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require chosen
 *= require_self
 *= require_tree . 
*/

@import "compass/typography/lists/horizontal-list";
@import "compass/css3";
@import "compass/reset/utilities";
@import "common.css.scss";


body {
  border-top: 5px solid $color1;
  background: url("denim.png") repeat;
}

h1 {
  span.fisio {
    color: $color1;
    float: left;
  }
  span.app{
    color: $color2;
  }
  span.descripcion{
    color: white;
    font-size: 16px;
    text-transform: italic;
  }
}

i.icon:before{
  content: none;
}

#wrapper_content {
  padding: 0px 1.5em 1em;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  @include box-shadow(rgba(black, 0.6) 0 0 5px);
}

table.list {
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  //table-layout: fixed;
  th {
    border-bottom: 2px solid $color2;
    text-align: left;
    font-weight: bold;
  }
  th.actions, td.actions {
    width: 20%;
    padding: 0 5px;
    a {
      &:hover {
        color: #fff;
      }
    }
  }
  tr {
    td {
      border-bottom: 1px solid #ccc;
      &.actions { 
        .ui-icon {
          display: inline-block;
        }
      }
    }
    &:hover td {
      border-bottom: 1px solid $color2;
    }
  }
}


div.flash {
  width: 50%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin: 10px auto auto;
  &.alert {
    color: $color2;
    @include box-shadow(rgba($color2, 0.3) 0 0 4px);
  }
  &.notice {
    color: $color1; 
    @include box-shadow(rgba($color1, 0.3) 0 0 4px);
  }
}


div#event{
  div.input{
    float:left;
    margin-right: 7px;
  }
  #event_attended{
    width: 10%;
  }
 label{
    width: 85px;
  } 
}


.errors {
  width: 50%;
  margin: 0 auto;
  padding: 0 0.5em;
  text-align: center;
  font-weight: bold;
  color: #cc0000;

}

span.error {
  display: block;
  margin: 0.5em auto;
  border: 1px solid #CCAAAA;
  padding: 0.5em;
  text-align: center;
  background: #F2DEDE;
  color: #B94A48;
}

fieldset.fieldset{
  border: medium none;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 4px 6px #808080;
  padding: 1em 2em;
  margin: 1em;
}
legend.legend {
  font-weight:bold;
  margin-bottom: 0px;
}

.show_hide {
    display:none;
}
